server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${AUTH_DB_URL}
    username: ${AUTH_DB_USERNAME}
    password: ${AUTH_DB_PASSWORD}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

token:
  external:
    access-token-expiration: ${TOKEN_EXTERNAL_ACCESS_EXPIRATION}
    refresh-token-expiration: ${TOKEN_EXTERNAL_REFRESH_EXPIRATION}
    private-key: ${TOKEN_EXTERNAL_PRIVATE_KEY}
    public-key: ${TOKEN_EXTERNAL_PUBLIC_KEY}
    key-id: ${TOKEN_EXTERNAL_KEY_ID}
  passport:
    secret-key: ${TOKEN_PASSPORT_SECRET}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

nextmall:
  identifier:
    node-id: ${NODE_ID}
  kafka:
    enabled: true
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      acks: all
      retries: 3
      batch-size: 16384
      linger-ms: 5
