server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${AUTH_DB_URL}
    username: ${AUTH_DB_USERNAME}
    password: ${AUTH_DB_PASSWORD}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

token:
  user:
    secret-key: ${TOKEN_USER_SECRET}
    access-token-expiration: ${TOKEN_USER_ACCESS_EXPIRATION}
    refresh-token-expiration: ${TOKEN_USER_REFRESH_EXPIRATION}
  service:
    secret-key: ${TOKEN_SERVICE_SECRET}

nextmall:
  identifier:
    node-id: ${NODE_ID}
  kafka:
    enabled: true
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      acks: all
      retries: 3
      batch-size: 16384
      linger-ms: 5
