spring:
  cloud:
    gateway:
      routes:
        - id: bff-service
          uri: lb://bff-service
          predicates:
            - Path=/api/v1/bff/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/**

        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/v1/auth/**
